<a href="https://colab.research.google.com/github/vikramkumarm/simplefolio/blob/master/Python_Refresher_1_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Refresher - 1

# First Python Program

```python
print("hello world")
```

## Data types
- Python is a dynamically typed language, don't need to pre-define the data types before-hand like C, C++, etc.
- Python has FCCs (First Class Citizens).
- Python is an interpreted language.

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/221/original/Screenshot_2022-10-12_at_10.01.38_AM.png?1665549117">

## Difference between interpreter and compiler?

- Explain the working of both Compilers and Interpreters.
  - Compiler: Takes entire code and convert it into byte code and that byte code was executed by CPU
  - Interpreter: Read and execute the code line by line

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/223/original/Screenshot_2022-10-12_at_10.06.15_AM.png?1665549362">
<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/224/original/Screenshot_2022-10-12_at_10.06.25_AM.png?1665549421">

## Hierarchy of programming languages (Bottom to top):

1.   List item
2.   List item


- Machine code (byte code)
- Assembly Code
- Mid-level languages (C, C++, Java, etc)
- High-level languages (Pytion, JavsScript, etc)

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/222/original/Screenshot_2022-10-12_at_10.05.08_AM.png?1665549286">

  > As going higher in the heirarchy, writing code gets simpler but time of execution increases, since language gets converted into the other language below that.

#### more discussion on data-types (explaining FCCs)
- static data types (or primitives) are bound to memory
  - eg: 1 byte can store max of integer value of 255
- Python creates FCCs that are not bound to memory, they can store data as much as RAM you have.

## Everything in Python that has a value is an Object
- `int`, `float`, `string`, anything with value is an object in python

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/225/original/Screenshot_2022-10-12_at_10.09.12_AM.png?1665549540">
<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/226/original/Screenshot_2022-10-12_at_10.09.28_AM.png?1665549558">

Checking the type of variable:
> `type` function in python can tell the data type of any variable

In [ ]:
# `type` function in python can tell the data type of any variable
type("this is a string")

str

In [ ]:
type(45)

int

In [ ]:
type("I am so cool") # because I am :)

str

In [ ]:
type(True)

bool

Another function `isinstance(a,b)` can tell whether `a` is the type of `b` or not?

In [ ]:
isinstance(4, int)

True

In [ ]:
isinstance(4, object)

True

In [ ]:
isinstance(int, object)

True

In [ ]:
isinstance(print, object)

True

We can make sure similarly that everything in python is a type of object.

> Python has native support to `complex numbers`

In [ ]:
a = 1 + 2j
print(a)

(1+2j)

In [ ]:
type(a)

complex

## Arithmetic Operations

In [ ]:
1.4 + 1.2 + 1.6

4.199999999999999

In [ ]:
# addition
45 + 56

101

In [ ]:
# Division
10/3

3.3333333333333335

In [ ]:
# Floor Division operator
# biggest integer less than the number
10 // 3

3

In [ ]:
-8 // 3

# always think floor division from the perspective of number line

-3

In [ ]:
# exponentiation operator
2 ** 10

1024

In [ ]:
## modulus operator (for positive)
## a % b  ==> a mod b

8 % 3

2

In [ ]:
## modulus operator (for positive)
## - a % b ==> b - (a mod b)

-8 % 3

1

## Identifier
- name that we give to our variable
- ### <u>rules for making identifier</u>:
  - It should start with `alphabets` or `underscore`(_)
  - It can contain alphanumeric or underscore in the middle of identifier name

In [ ]:
_abs = 12

In [ ]:
12a = 1 # not following 2nd rule

SyntaxError: ignored

In [ ]:
# underscore is a valid variable name
_ = 45

In [ ]:
_

45

> Note: `_` is a special variable in python that automatically stores the value generated by last executed expression.

> `_` will loose it's speciality if you already give some value to it

eg: through below code it'll loose it's speciality

```python
_ = 45
```

# Mutable / Immutable

Mutable: whose value can change

Immutable: whose value can't change

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/227/original/Screenshot_2022-10-12_at_10.10.40_AM.png?1665549635">
<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/228/original/Screenshot_2022-10-12_at_10.10.55_AM.png?1665549675">

In [ ]:
a = 3
a

3

In [ ]:
a = 4
a

4

seems that integers are `mutable` but NO.
originally in python we are just changing the memory reference of `a` to point to 4 instead of changing its value to 4

Only 3 data types in python are `mutable`
- `list`
- `sets`
- `dictionaries`

> `id()` function in python gives the memory address of the variable where it is stored

In [ ]:
id(a)

134539670962512

In [ ]:
a = 6

In [ ]:
id(a)

# it can be seen that memory address is change hence now a is pointing to somewhere else in memory

134539670962576

In [ ]:
a = 6
b = 6

In [ ]:
print(id(a))
print(id(b))

134539670962576
134539670962576

Python deleted the variables as program execution is over or that variable's scope is over.

But you can delete them manually using `del` keyworad as:

```python
del a
```

### Python uses indentation instead of `{ }` to create context or scope

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/229/original/Screenshot_2022-10-12_at_10.13.02_AM.png?1665549764">

In [ ]:
a = 10

if a > 10:
  print("WOOOPEEEEE")
elif a == 10:
  print("MOOMMAAAAA")
else:
  print("DAADDAAAA")

MOOMMAAAAA

In [ ]:
a = 10

if a == 10:
  print("first")

if a > 4:
  print("second")

first
second

In [ ]:
a = 10

if a == 10:
  print("first")

elif a > 4:
  print("second")

first

# Iteration Protocol

- There are certain data types that can be iterated upon.

In [ ]:
# for loop
a = "python"

p
y
t
h
o
n

- *Iterable*: Data structrure with atomic elements which can be iterated.
- *Iterator*: variable used to store those atomic elements.
- *Iteration block*: Entire Body of the loop

In [ ]:
for i in 10: # int is not a iterable
  print(i)

TypeError: ignored

- While Loop:

In [ ]:
# While Loop
a = 10
while a > 0:
  print(a)
  a -= 1 # a = a - 1

10
9
8
7
6
5
4
3
2
1

- **Poll**: When to use `while` and `for` loop
  - Answer: When you know the exact condition use `while` and when you have a iterable `for` loop

> Note: Python does not have `pre-increment`/`post-increment`/`pre-decrement`/`post-decrement` operator

In [ ]:
# iter() function in python takes iterable and returns the iterator
a = "python" # iterable
it = iter(a) #
print(it)

<str_iterator object at 0x7a5cd3c6d030>

In [ ]:
# next() function gives the next value of the iterator and keeps record of it everytime
next(it)

'p'

In [ ]:
next(it)

'y'

In [ ]:
next(it)

't'

In [ ]:
next(it)

'h'

In [ ]:
next(it)

'o'

In [ ]:
next(it)

'n'

In [ ]:
next(it) # that's how similarly for loops end

StopIteration: ignored

In [ ]:
# passing objects that to iter() are not iterable will give error
iter(10)

TypeError: ignored

In [ ]:
"""
- range(a,b,step)

=> data structure that gives the iterable from range a to b-1
parameters:
  a: starting point, default is 0
  b: ending point + 1,
  step: difference between each consecutive value
"""
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
a = range(1,6)
it = iter(a)
it

In [ ]:
next(it)

1

In [ ]:
for i in range(1,11,3):
  print(i)

1
4
7
10

In [ ]:
# Note: Floats are not used with range()
range(5.5)

TypeError: ignored

# Functions
- Piece of code that can be used multiple times, it takes input and does something on it

In [ ]:
def sheldon_knock(name):
  print("knock knock knock", name)
  print("knock knock knock", name)
  print("knock knock knock", name)

In [ ]:
sheldon_knock("penny")

knock knock knock penny
knock knock knock penny
knock knock knock penny

In [ ]:
sheldon_knock("leonard")

knock knock knock leonard
knock knock knock leonard
knock knock knock leonard

In [ ]:
def random(a,b):
  print("a = ", a)
  print("b = ", b)

In [ ]:
random(4,5)

a =  4
b =  5

In [ ]:
random(a=4, b=5) # keyworded arguments

a =  4
b =  5

### Types of Arguments:
- Positional: value reaching argument positionally
  ```python
  def x(a,b):
    pass

  x(3,4)
  ```
- Keywords: values passing according to keys
  ```python
  def x(a,b):
    pass
  x(a=3, b=4)
  ```

In [ ]:
# If all the arguments are required (i.e no default value) then need to pass all of them
def random(a,b):
  print(a+b)

random(10)

TypeError: ignored

In [ ]:
# giving default value to `b`
def random(a,b=4):
  print(a+b)

random(10) # don't pass value then default is used
random(10,10) # if passed then passed value is used

14
20

> Note: if have a default argument in function then all the arguments after that must contain some default value

### Returning values from function

In [ ]:
def addition(a, b):
  return a + b

In [ ]:
addition(3,4)

7

In [ ]:
# difference between print and return
def addition(a, b):
  print(a+b)

ans = addition(3,4)
print(ans)

7
None